.mainContent {
  width: 100%;
  height: max-content;
  border: 1px solid $color-line;
  border-top: none;
  border-bottom: none;

  &__header {
    height: 5.5rem;
    border-bottom: 1px solid $color-line;

    &__content {
      padding: 0.6rem 1.5rem;
      padding-right: 0.5rem;
      padding-top: 0.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__icon {
        height: 4.2rem;
        width: 4.2rem;
        fill: $color-primary;
        padding: 1rem;

        &:hover {
          border-radius: 50%;
          background-color: $color-background-input;
        }
      }
    }
  }
}

.emoji-mart-search,
.emoji-mart-scroll,
.emoji-mart-bar {
  position: relative;
  z-index: 100;
  background-color: $color-white;
}

.emoji-mart-search {
}
.emoji-mart {
  margin-top: 40rem;
}
.es_componentWrapper__3KEkn {
  margin-top: 30rem;

  position: relative;
  background-color: $color-white;

  z-index: 100;
}
