.singleTweetView,
.profile {
  position: relative;
  width: 100%;
  height: max-content;
  border: 1px solid $color-line;
  border-top: none;
  border-bottom: none;

  &__header {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;

    height: 5.5rem;
    border-bottom: 1px solid $color-line;
    background-color: $color-background;

    &__content {
      height: 100%;
      padding: 0 1.5rem;
      display: flex;
      align-items: center;
    }
    &__btn {
      height: 4.4rem;
      width: 4.4rem;
      margin-right: 1.5rem;
      background: none;
      border: none;

      cursor: pointer;
    }
    &__icon {
      height: 4.4rem;
      width: 4.4rem;
      fill: $color-primary;
      padding: 1rem;

      &:hover {
        border-radius: 50%;
        background-color: $color-background-input;
      }
    }
    &__heading {
      cursor: pointer;
      background: none;
      border: none;
    }
  }
}
