*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.container {
  width: 100%;
}
.devinfo {
  color: $color-white;
  font-style: italic;
  margin-top: 0.5rem;
  text-align: center;

  ::selection {
    background-color: $color-primary-dark;
    color: $color-primary-light;
  }
}
.logo {
  fill: rgb(29, 161, 242);
  height: 4rem;
  width: 4rem;
}
