*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  background-color: $color-background;
  align-items: center;
  justify-content: center;
}

.container {
}
.devinfo {
  color: $color-white;
  font-style: italic;
  margin-top: 0.5rem;
  text-align: center;

  ::selection {
    background-color: $color-primary-dark;
    color: $color-primary-light;
  }
}
.logo {
  fill: $color-white;
  height: 2.5rem;
  width: 3.5rem;
  margin-right: 3rem;
}
