%heading {
  font-weight: 700;
  line-height: 1;
  color: $color-white;
  margin: 0;
}
a {
  text-decoration: none;

  &:link,
  &:visited {
    color: $color-white;
    text-decoration: none;
  }
}
body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.7;
  color: $color-white;
}

.heading-1 {
  @extend %heading;
  font-size: 2.4rem;
  font-weight: 700;
}
.heading-2 {
  @extend %heading;
  font-size: 1.9rem;

  letter-spacing: 0;
}
.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  color: $color-white;
}

.alert {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  padding: 0.8rem;
  width: 50%;
  opacity: 0.9;
  background: var(--light-color);
  text-align: center;
  transform: translateX(50%);
}

.alert-danger {
  background: red;
  color: #fff;
}
.alert-success {
  background: $color-primary;
  color: #fff;
}
.isActive {
  color: $color-primary !important;

  &--2 {
    color: $color-primary-dark !important;
  }
}
::placeholder {
  color: rgba($color-black, 0.9);
  font-size: 1.6rem;
}

input[type='time']::-webkit-clear-button {
  display: none;
}
input[type='time']::-webkit-inner-spin-button,
input[type='time']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button {
  &:focus {
    outline: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $color-background-input inset;
  box-shadow: 0 0 0px 1000px $color-background-input inset;
  -webkit-text-fill-color: $color-grey;
}
