.btn-inline {
  font-size: 1.4rem;
  margin: 0.7rem 0;
  border: none;
  color: darken($color-primary, 10%);
  background: none;

  &:link,
  &:visited {
    color: darken($color-primary, 10%);

    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}
