.btn {
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 0;

  font-family: $font-primary;
  font-size: 1.7rem;
  text-transform: uppercase;
  padding: 2rem 7rem;
  cursor: pointer;
  transition: all 0.4s;

  &:link,
  &:visited {
    text-decoration: none;
    color: $color-white;
  }

  &:hover {
    background-color: $color-primary-dark;
  }
  &:focus {
    outline: none;
  }
  &:active {
    transform: translateY(0.5rem);
  }
}
