.nonAuth {
  width: 100vw;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__header {
    width: 100rem;
    height: 5.5rem;
    display: flex;
    //justify-content: space-around;
    align-items: center;
    //border-bottom: $color-line 1px solid;
  }
  &__line {
    width: 100%;
    height: 1px;
    background-color: $color-line;
  }
  &__content {
    width: 100rem;
    display: flex;

    &__explore {
      width: 64rem;
      margin-right: 1rem;

      border-right: 1px solid $color-line;
      border-left: 1px solid $color-line;

      &__heading,
      &__subheading {
        width: 100%;
        padding: 1.4rem;
        border-bottom: 1px solid $color-line;
      }
      &__subheading {
        font-size: 1.8rem;
        padding: 1.2rem 1.5rem;
      }
      &__photo {
        position: relative;
        height: 34rem;
        background-image: url('../../img/explore-mask.jpg');
        background-image: linear-gradient(
            transparent 0%,
            transparent 25%,
            rgba(0, 0, 0, 0.7) 75%,
            rgba(0, 0, 0, 0.8) 100%
          ),
          url('../../img/explore-mask.jpg');
        &__p {
          position: absolute;
          bottom: 4.5rem;
          left: 1.5rem;
          font-size: 1.2rem;
        }
        &__heading {
          position: absolute;
          bottom: 1.5rem;
          left: 1.5rem;
        }
        &__breakline {
          width: 100%;
          height: 1.2rem;
          background-color: $color-grey-dark;
        }
      }
    }
    &__sidebar {
      width: 35rem;
      margin: 1rem;
      border-radius: 1rem;
      border: 1px solid $color-line;

      display: flex;
      flex-direction: column;
      justify-content: center;

      padding: 0.5rem 1.5rem;
      padding-bottom: 1.5rem;

      &__img {
        width: 80%;
        align-self: center;
      }
      &__heading {
        margin: 1.5rem 0;
      }
      &__p {
        margin: 1rem 0;
        text-align: center;
        color: $color-grey;
        font-size: 1.4rem;
      }
    }
  }

  &__settings {
    fill: $color-primary;
    width: 2rem;
    height: 2rem;
    margin-left: 2rem;
  }
}
