.comment {
  position: fixed;
  z-index: 1000;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 60rem;
  height: 45rem;
  background-color: $color-background;
  border: none !important;
  border-radius: 1.5rem;

  display: flex;
  flex-direction: column;

  &:focus {
    outline: none;
  }

  &__header {
    height: 5.5rem;
    width: 8rem;
    display: flex;
    align-items: center;
    border: none !important;
    background: none;
    padding: 1.5rem;
    cursor: pointer;

    &__icon {
      background: none;
      border: none;
      fill: $color-primary;
      height: 2.25rem;
      width: 2.25rem;
    }
  }

  &__container {
    padding: 1.5rem 0.5rem;
    border-top: 1px solid $color-line;
  }
  &__replyLine {
    display: flex;
    margin: 0 auto;
    margin-top: 1rem;

    height: 4rem;
    width: 2px;
    background-color: $color-line;
  }

  &__replyTo {
    margin: 2rem 0;
    color: $color-grey;
    font-size: 1.5rem;

    &__at {
      color: $color-primary !important;
    }
  }
}
