.getTweets {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  &__loading {
    height: 3.5rem;
    width: 3.5rem;
    margin: 0 auto;
  }
  &__endMessage {
    text-align: center;
    margin: 2rem 1rem;
    margin-bottom: 1.2rem;

    @media only screen and (max-width: $bp-500) {
      margin: 5rem 3rem;
    }
  }
}
