.tweet {
  padding: 0.6rem 1.2rem;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: 6rem 1fr;

  border-bottom: 1px solid $color-line;
  cursor: pointer;

  &:hover {
    background-color: $color-background-input;
  }

  &__img {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    width: 6rem;
    grid-row: 1 / -1;
    grid-column: 1 / 2;

    &__icon {
      fill: $color-grey;
      height: 1.25rem;
      width: 1.25rem;

      margin-left: 3rem;
    }
    &__photo {
      margin-top: 0.5rem;
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
      position: relative;

      &__hover {
        display: none;
      }

      &:hover + &__hover {
        transition: 1s;
      }
    }
  }
  &__content {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    position: relative;
    width: 100%;

    &__retweeted {
      font-size: 1.4rem;
      line-height: 1.2;
      color: $color-grey;
    }
    &__author {
      display: flex;
      align-items: center;

      &--singleTweet {
        padding-top: 0.6rem;
      }
      &__nameContainer {
        display: flex;
        flex-direction: column;
        margin-right: auto;
      }

      &__name {
        font-weight: 700;
        font-size: 1.5rem;
        margin-right: 5px;
        position: relative;

        &__hover {
          display: none;
          top: 0;

          margin-top: 4rem !important;
        }

        &:hover + &__hover {
          transition: 1s;
        }
      }
      &__at,
      &__time {
        color: $color-grey;
        font-size: 1.5rem;
      }
      &__time {
        margin-right: auto;

        &--singleTweet {
          padding-top: 1.5rem;
          padding-bottom: 1rem;
          margin-left: -6rem;
          border-bottom: 1px solid $color-line;
        }

        &__link {
          color: $color-primary !important;

          &:hover {
            text-decoration: underline !important;
          }
        }
      }
      &__dot {
        padding: 0 5px;
        color: $color-grey;
      }

      //report box
      &__checkbox {
        z-index: 5;
        display: none;
      }
      &__btn {
        background: none;
        border: none;
        &__icon {
          fill: $color-grey;
          height: 2.5rem;
          width: 2.5rem;
          cursor: pointer;
          padding: 0.5rem;

          &:hover {
            background-color: lighten($color-background, 10%);
            fill: $color-primary;
            border-radius: 50%;
          }
        }
      }
      &__box {
        position: absolute;
        z-index: 20;
        top: 1rem;
        right: 0rem;
        width: 25rem;

        &--short {
          width: 15rem;
        }

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        border-radius: 1rem;
        box-shadow: 0 -0.3rem 2rem rgba(#fff, 0.17);

        &__btn {
          display: flex;
          align-items: center;
          width: 100%;
          text-align: left;
          cursor: pointer;
          background-color: $color-background;
          border: none;
          padding: 1.6rem 1.2rem;
          color: $color-white;
          font-size: 1.5rem;

          &--delete {
            padding: 1rem 1.2rem;
            color: rgb(224, 36, 94);
          }

          &__icon {
            height: 2rem;
            width: 2rem;
            fill: $color-grey;
            margin-right: 1rem;

            &--delete {
              fill: rgb(224, 36, 94);
            }
          }

          &:hover {
            background-color: lighten($color-background, 5%);
          }
          &:focus,
          &:active {
            outline: none;
            border: none;
          }
        }
      }
    }

    &__message {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &--singleTweet {
        margin-top: 1rem;
        margin-left: -6rem;
      }

      &__text {
        font-size: 1.5rem;
        line-height: 1.3125;

        &--singleTweet {
          font-size: 2.4rem;
        }

        &:link,
        &:visited {
          color: rgb(27, 149, 224);
        }
      }
      &__img,
      &__gif {
        width: 100%;
        border-radius: 2.5rem;
        padding: 1rem 0.5rem;
        padding-bottom: 0;
      }
    }

    &__options {
      width: 100%;
      margin-top: 1rem;
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      padding-right: 1.25rem;
      display: flex;
      justify-content: space-evenly;
      margin-left: -3rem;
    }
    &__option {
      display: flex;
      align-items: center;
      padding: 0 0.5rem;
      border: none;
      background: none;
      cursor: pointer;

      &:hover {
        span {
          color: $color-primary;
        }

        svg {
          fill: $color-primary;
          border-radius: 50%;
          background-color: rgba($color-primary, 0.15);
        }
      }

      &--green {
        &:hover {
          span {
            color: #17bf63 !important;
          }

          svg {
            fill: #17bf63 !important;
            border-radius: 50%;
            background-color: rgba(23, 191, 99, 0.15);
          }
        }
      }
      &--red {
        &:hover {
          span {
            color: #e2245e !important;
          }

          svg {
            fill: #e2245e !important;
            border-radius: 50%;
            background-color: rgba(226, 36, 94, 0.15);
          }
        }
      }

      &__icon {
        height: 3rem;
        width: 3rem;
        padding: 0.5rem;
        fill: $color-grey;
        margin-right: 2px;

        &--singleTweet {
          height: 3.75rem;
          width: 3.75rem;
          padding: 0.75rem;
        }
      }
      &__amount {
        color: $color-grey;
        font-size: 1.3rem;
      }
    }

    &__clicksNum {
      margin-left: -6rem;
      padding: 1rem 2px;

      display: flex;
      align-items: center;
      border-bottom: 1px solid $color-line;

      &__box {
        color: $color-grey;
        font-size: 1.5rem;

        &:last-of-type {
          margin-left: 2rem;
        }

        &__num {
          margin-right: 1px;
          font-weight: 600;
          color: $color-white;
        }
      }
    }
  }
  &__ref {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    height: 100%;
    display: flex;
    align-items: center;

    width: 100%;
    padding: 0.6rem 0;
    padding-left: 6rem;
    font-size: 1.5rem;
    color: $color-primary !important;

    &:hover {
      background-color: lighten($color-background-input, 5%);
    }
  }
  &__delete {
    position: fixed;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 24rem;
    background-color: $color-background;
    border: none !important;
    border-radius: 1.5rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:focus {
      outline: none;
    }

    &__text {
      font-size: 1.5rem;
      color: $color-grey;
      text-align: center;
      padding: 1rem 0;
    }

    &__btns {
      display: flex;
      justify-content: space-between;

      &__btn {
        padding: 0.8rem 3.5rem !important;
        border: none !important;

        &--cancel {
          background-color: $color-grey !important;
        }
        &--del {
          background-color: #e2245e !important;
        }
      }
    }
  }
}
