.loadingScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: -2rem;
  background-color: #15202b;
  align-items: center;
  justify-content: center;
}

.loadingScreen-logo {
  height: 4rem;
  width: 4rem;
  fill: #1da1f2;
}
