.loginPage {
  width: 55rem;
  height: 50rem;
  padding-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__link {
    font-size: 1.5rem !important;
    color: $color-primary !important;
  }
}
