$color-primary: #1da1f2;
$color-primary-dark: #0e153a;
$color-primary-light: #22d1ee;
$color-background: #15202b;
$color-background-input: #192734;

$color-white: #fff;
$color-black: #111;
$color-grey: #7c8c99;
$color-grey-dark: #253341;
$color-line: #3d5466;

// FONT VARIABLES
$font-primary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Ubuntu, 'Helvetica Neue', sans-serif;

//bp
$bp-1440: 90em;
$bp-1280: 80em;
$bp-1020: 63.75em;
$bp-800: 50em;
$bp-500: 31.25em;
$bp-400: 25em;
